.magpie{
    text-align: center;
    background-color: red;
    height: 80px;
    position: relative;
    width: 100%;
    background: linear-gradient(to left,rgb(144, 43, 226),rgb(153, 105, 51),rgb(114, 90, 114));
}

ul{
    text-align: center;
    margin-right: 35px;
}

#menu li{
    display:inline-block;}
#menu li a {
    color:white;
    text-decoration:none;
    background:rgb(3, 3, 36);}
#menu li a:hover{
    padding: 10px;
}

.owl{
    background-color: rgb(134, 156, 143);
    margin-left: 5%;
    margin-top: 3%;
    width: 40%;
    float: left;
}

.crow{background-color: rgb(180, 139, 139);
    width: 45%;
    height: 40%;
    margin-top: 4%;
    position: static;
    margin-left: 5%;
    margin-right: 5%;
    float: right;}

.sun{background-color: rgb(15, 3, 26);
     width: 100%;
    margin-top: 37%;
    height: 300px;}
        
    .un{
        width: 40%;
        margin-right: 10%;
        float: right;}
    


