.searchbox{background-color:rgb(170, 62, 19);
    position: absolute;
    top: 7%;
    left: 75%;
    transform: trancelate(-50%, -50%);
    height: 22px;
    border-radius: 40px;
    padding: 10px;
}

.jackfruit{
    text-align: center;
    height: 80px;
    width: 100%;
    background: linear-gradient(to left,chocolate,rebeccapurple,purple);
}

ul{
    text-align: center;
    margin-right: 35px;
}

#menu li{
    display:inline-block;}
#menu li a {
    color:white;
    text-decoration:none;
    background:rgb(3, 3, 36);}
#menu li a:hover{
    padding: 10px;
}

.mango{
    background-color: rgb(101, 209, 137);
    margin-left: 5%;
    margin-right: 10%;
    width: 85%;
    height: 20%;
}
.orange{
    background-color: rgb(209, 207, 101);
    margin-right: 12%;
    margin-left: 5%;
    width: 83%;
}

.stroberry{
    background-color: rgb(209, 101, 137);
    margin-right: 14%;
    margin-left: 5%;
    width: 81%;
}

.lichy{
    background-color: rgb(157, 101, 209);
    margin-right: 16%;
    margin-left: 5%;
    width: 79%;
}

.apple{
    background-color: rgb(101, 160, 209);
    margin-right: 18%;
    margin-left: 5%;
    width: 77%;
}

.footer{
    background-color: rgb(29, 27, 29);
    width: 100%;
    height: 200px;
    position:static;
}

.footer1{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    width: 30%;
    position: static;
    float: left;
}
.footer2{
    margin-top: 20px;
    float: right;
    margin-left: 5%;
    width:45%;
    position: static;
}