.cow{
    text-align: center;
    background-color: red;
    height: 80px;
    width: 100%;
    background: linear-gradient(to left,rgb(110, 59, 24),rgb(81, 35, 124),rgb(141, 39, 141));
}

ul{
    text-align: center;
    margin-right: 35px;
}

#menu li{
    display:inline-block;}
#menu li a {
    color:white;
    text-decoration:none;
    background:rgb(3, 3, 36);}
#menu li a:hover{
    padding: 10px;
}






.footer{
    background-color: rgb(29, 27, 29);
    width: 100%;
    height: 200px;
    position:static;
}

.footer1{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    width: 30%;
    position: static;
    float: left;
}
.footer2{
    margin-top: 20px;
    float: right;
    margin-left: 5%;
    width:45%;
    position: static;
}