.degn{
    text-align: center;
}

.first{
    width: 500px;
    background-color: brown;
    height: 400px;
    border: 10px solid ;
}

.second{
    width: 400px;
    background-color: bisque;
    margin-left: 35px;
    height: 300px;
    border: 10px solid ;
}

.class1{
    width: 700px;
    background-color: rgb(129, 21, 39);
    position: absolute;
    margin-left: 35px;
    margin-top: 340px;
    height: 40px;
    border: 2px solid ;
}

.class2{
    width: 40px;
    background-color: rgb(153, 99, 19);
    position: relative;
    margin-left: 350px;
    height: 700px;
    border: 2px solid ;
}

.hw{
    width: 500px;
    position: relative;
    height: 400px;
    border: 10px solid ;
}

.hw1{
    width: 200px;
    background-color: green;
    position: absolute;
    height: 400px;
    float: left;
}

.hw2{
    width: 300px;
    background-color: blue;
    position: relative;
    height: 400px;
    float: right;
}
