.class4{
    text-align: center;
    position: sticky;
}
body{
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas: "head head""sidebar main""footer footer";

}
.navigation{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    padding: 10px;
}
header{
    background-color: gray;
    color: aliceblue;
    grid-area: head;
    position: sticky;
    top: 0px;
}
aside{
    background-color: rgb(133, 17, 84);
    grid-area: sidebar;
}
main{
    background-color: rgb(196, 26, 49);
    grid-area: main;
}
footer{
    background-color: brown;
    grid-area: footer;
    position: fixed;
    padding: 5px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
